{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Checkmates - Login/Register</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href="{% static 'checkmates/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'checkmates/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
   <section id="formHolder">

      <div class="row">

         <!-- Brand Box -->
         <div class="col-sm-6 brand">
            <a href="#" class="logo">Checkmates <span>.</span></a>

            <div class="heading">
               <h2>Checkmates</h2>
               <p>Find matches!</p>
            </div>

            <div class="success-msg">
               <p>Great! You are one of our members now</p>
               <a href="#" class="profile">Your Profile</a>
            </div>
         </div>


         <!-- Form Box -->
         <div class="col-sm-6 form">

            <!-- Login Form -->
            <div class="login form-peice switched">
               <form class="login-form" action="login/" method="post">
                  <div class="form-group">
                     <label for="loginemail">Username</label>
                     <input type="text" name="loginemail" id="loginemail" required>
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password</label>
                     <input type="password" name="loginPassword" id="loginPassword" required>
                  </div>

                  <div class="CTA">
                     <input type="submit" value="Login">
                     <a href="#" class="switch">Register</a>
                  </div>
               </form>
            </div><!-- End Login Form -->


            <!-- Signup Form -->
            <div class="signup form-peice">
               <!-- <form class="signup-form" action="register/" method="post"> -->
               <form action="register/" enctype="multipart/form-data" method="post">
                  <div class="form-group">
                     <label for="name">Full Name</label>
                     <input type="text" name="name" id="name" class="name" required>
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="username">Username</label>
                     <input type="username" name="username" id="username" class="username" required>
                     <span class="error"></span>
                  </div>

                  <!-- <div class="form-group">
                     <label for="image">Image:</label>
                     <input type="image" name="image" id="image" /><br />
                     <label for="phone">Phone Number - <small>Optional</small></label>
                     <input type="text" name="phone" id="phone">
                  </div>
 -->
                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" name="password" id="password" class="pass" required>
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="passwordCon">Confirm Password</label>
                     <input type="password" name="passwordCon" id="passwordCon" class="passConfirm" required>
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="image">Upload Image</label>
                     <input type="file" name="image" id="image" class="image" required>
                     <span class="error"></span>
                  </div>

                  <!-- <div class="form-group">
                     <label for="address">Address</label>
                     <input type="address" name="address" id="address" class="address">
                     <span class="error"></span>
                  </div> -->

                  

                  <div class="CTA">
                     <input type="submit" value="Register">
                     <a href="#" class="switch">Login</a>
                  </div>
               </form>
            </div><!-- End Signup Form -->
         </div>
      </div>

   </section>


   <footer>

   </footer>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script  src="{% static 'checkmates/script.js' %}"></script>

</body>
</html>
