{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Other CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'checkmates/mainstyle2.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'checkmates/mainstyle2.css' %}">
    
    
</head>
<body>
    <div class="tbg">
        <div class="card">
            <div class="card-body">
                <div class="content-section">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Checkmates - Find a local match!</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}